<div class="page-foot--fact page-foot">
    <div class="foot-container">
        <div class="row">
            <div class="col-md-6">
                <ul class="ft-site-link-list">
                    <li class="ft-site-link-list__item"><a href="https://www.polyu.edu.hk/privacy-policy-statement/" target="_blank" class="ft-site-link-list__link">Privacy Policy Statement | </a></li>
                    <li class="ft-site-link-list__item"><a href="https://www.polyu.edu.hk/terms-of-use/" target="_blank" class="ft-site-link-list__link">Terms of Use | </a></li>
                    <li class="ft-site-link-list__item"><a href="https://www.polyu.edu.hk/accessibility/" target="_blank" class="ft-site-link-list__link">Accessibility | </a></li>
                    <li class="ft-site-link-list__item"><a href="https://www.polyu.edu.hk/ama/sitemap/" target="_self" class="ft-site-link-list__link">Sitemap</a></li>
                </ul>
                <div class="cp">Copyright © 2025 The Hong Kong Polytechnic University. All Rights Reserved.</div>
            </div>
            <div class="col-md-6">
                <div class="icon">
                    <a href="https://www.facebook.com/AMAPolyU" class="socal-icon-list__itm" target="_blank" rel="nofollow">
                        <img src="pic/icon-facebook.png" alt="">
                    </a>
                    <a href="https://www.instagram.com/polyu_ama/?hl=en" class="socal-icon-list__itm" target="_blank" rel="nofollow">
                        <img src="pic/icon-ins.png" alt="">
                    </a>
                    <a href="https://www.linkedin.com/company/ama-polyu/" class="socal-icon-list__itm" target="_blank" rel="nofollow">
                        <img src="pic/icon-linkedin.png" alt="">
                    </a>
                </div>
                <div class="ft-tagline">
                    <a href="https://www.polyu.edu.hk/openingminds/en/" target="_target">
                        <img src="pic/tagline-1x.png" alt="Opening Minds • Shaping the Future • 啟迪思維 • 成就未來">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>